{% extends "layout2.html" %} {% load static %}

{% block loadInHead %}
<link rel="stylesheet" type="text/css" href="{% static 'css/exploreWorkoutsPage.css' %}" />
{% endblock %}

{% block layout2_content %}
<div class="containers-wrapper">
  <div class="move-image-container">
    <div id="image-container"></div>
  </div>
  <div class="muscle-group-display-container">
    <div class="box" id="primaryMusclesContainer"></div>
    <div class="box" id="secondaryMusclesContainer"></div> 
  </div>
</div>

<script src="{% static 'js/exploreWorkoutsScript.js' %}" defer></script>
{% endblock %}
