{% extends "layout.html" %} {% load static %}
<!-- Use this to add HTML to layout.html's <head> -->
{% block loadInHead %}
<link rel="stylesheet" type="text/css" href="{% static 'css/layout2.css' %}" />
{% endblock %}

{% block content %}
<!-- Adds content to the <body> -->
    <nav class="navbar navbar-dark bg-dark fixed-top">
        <div class="container-fluid d-flex justify-content-between">  
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar">
                <span class="navbar-toggler-icon"></span>
              </button>
              
              <!-- Centered content container -->
              <div class="d-flex justify-content-center flex-grow-1">
                <a class="navbar-brand" href="{% url 'dashboardPage' %}">MotionMatrix</a>
                
              </div>
              
              <div class = "current_date">
                <p style="color: white;">Date: {{ current_date|date:"m/d/Y" }} now </p>
              </div>

          <div class="offcanvas offcanvas-start text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
            <div class="offcanvas-header">
              <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">MotionMatrix</h5>
              <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
              <ul class="navbar-nav justify-content-start flex-grow-1 pe-3 ">
                <li class="nav-item d-flex align-items-center">
                    <i class="bi bi-grid-3x3-gap me-2"></i>
                    <a class="nav-link" aria-current="page" href="{% url 'dashboardPage' %}">Dashboard</a>
                </li>
                <li class="nav-item d-flex align-items-center">
                    <i class="bi bi-calendar3-week me-2"></i>
                    <a class="nav-link" aria-current="page" href="{% url 'calendarPage' %}">Calendar</a>
                </li>
                <li class="nav-item d-flex align-items-center">
                    <i class="bi bi-journal-bookmark me-2"></i>
                    <a class="nav-link" aria-current="page" href="{% url 'workoutRoutinePage' %}">Workout Routine</a>
                </li>
                <li class="nav-item d-flex align-items-center">
                    <i class="bi bi-eyeglasses me-2"></i>
                    <a class="nav-link" aria-current="page" href="{% url 'exploreWorkoutsPage' %}">Explore Workouts</a>
                </li>
                <li class="nav-item d-flex align-items-center">
                    <i class="bi bi-person-fill me-2"></i>
                    <a class="nav-link" aria-current="page" href="{% url 'prsPage' %}">Personal Record</a>
                </li>
                <li class="nav-item d-flex align-items-center">
                    <i class="bi bi-box-arrow-left me-2"></i>
                    <a class="nav-link" aria-current="page" href="{% url 'loginPage' %}">Log Out</a>
                </li>
            </div>
          </div>
        </div>
    </nav>
    <div class="pt-5">
      {% block layout2_content %}
      {% endblock %}
    </div>
{% endblock %}
