/* STYLE.CSS */

.main-container {
  width: 100%;
  height: calc(100vh - 80px);
  display: flex;
  justify-content: center;
}

.logo,
.title,
.date {
  display: flex;
  align-items: center;
}

.logo img {
  width: 50px;
  height: 50px;
}

.removeWorkout {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.removeWorkout:hover,
.removeWorkout:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* MODAL.CSS */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 400px; /* Could be more or less, depending on screen size */
  height: 250px;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.workout {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
input[type="text"] {
  width: 190px;
  height: 25px;
  font-size: 12px;
  color: #555;
  border: 1px solid #ccc;
  text-align: left;
}

.set {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.reps {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.addbtn {
  display: flex;
  justify-content: flex-end;
  width: 87%;
}

.workoutAdding {
  background-color: rgb(144, 131, 244);
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.addbtn .addWorkout {
  background-color: rgb(144, 131, 244);
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  overflow: visible;
  white-space: nowrap;
}

/* SCHEDULE.CSS */
.main-content {
  width: calc(100%);
  height: calc(100vh);
  display: flex;
  flex-direction: column;
}

.weekdays {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgb(144, 131, 244);
  background-color: #415e8c;
  flex-wrap: wrap;
}
.day {
  width: calc(100% / 7);
  color: #414141;
  text-align: center;
  cursor: default;
  padding-top: 10px;
  padding-bottom: 10px;
}

.workout-content {
  width: 100%;
  height: calc(100vh - 210px);
  display: flex;
  justify-content: space-evenly;
  padding-top: 0px;
  padding-bottom: 0px;
}

.col {
  width: calc(100% / 7);
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  border-right: 2px solid black;
  border-left: 2px solid black;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  color: white;
}

.day .addWorkout {
  background-color: rgb(144, 131, 244);
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.day .addWorkout {
  background-color: white;
  color: black;
  border: 2px solid blue;
  border-radius: 20px;
}

.day .addWorkout:hover {
  background-color: rgb(144, 131, 244);
  color: white;
}

#mondayCol,
#wednesdayCol,
#fridayCol,
#sundayCol {
  background-color: rgba(42, 100, 229, 1);
}

#tuesdayCol,
#thursdayCol,
#saturdayCol {
  background-color: #4478d3;
}

@media (max-width: 950px) {
  .weekdays {
    flex-direction: column;
  }
  .main-content {
    display: grid;
    grid-template-columns: 1fr 5fr;
  }
  .col {
    height: 1070px;
  }
}

.thick-line {
  border: none;
  height: 4px;
  background-color: #020218;
  width: 100%;
}

.overlay-text {
  font-weight: bold;
  font-size: 16px;
  margin: 0;
}

@media (max-width: 530px) {
  .main-content {
    display: grid;
    grid-template-columns: 1fr 10fr;
  }
  .workout-content {
    width: 1020px;
  }
}
p {
  color: white;
}
