/* STYLE.CSS */

.main-container {
  width: 100%;
  height: calc(100vh - 80px);
  display: flex;
  justify-content: center;
}

.logo,
.title,
.date {
  display: flex;
  align-items: center;
}

.logo img {
  width: 50px;
  height: 50px;
}

.removeWorkout {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.removeWorkout:hover,
.removeWorkout:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* SCHEDULE.CSS */
.main-content {
  width: calc(100%);
  height: calc(100vh);
  display: flex;
  flex-direction: column;
}

.weekdays {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eaeaea;
  background-color: #8e9b90;
  flex-wrap: wrap;
}
.day {
  width: calc(100% / 7);
  color: #414141;
  text-align: center;
  cursor: default;
  padding-top: 10px;
  padding-bottom: 10px;
}

.workout-content {
  width: 100%;
  height: calc(100vh - 210px);
  display: flex;
  justify-content: space-evenly;
  padding-top: 0px;
  padding-bottom: 0px;
}

.col {
  width: calc(100% / 7);
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  border-right: 2px solid black;
  border-left: 2px solid black;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

.day .addWorkout {
  background-color: #04aa6d; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.day .addWorkout {
  background-color: white;
  color: black;
  border: 2px solid #04aa6d;
}

.day .addWorkout:hover {
  background-color: #04aa6d;
  color: white;
}

#mondayCol,
#wednesdayCol,
#fridayCol,
#sundayCol {
  background-color: #b6c4a2;
}

#tuesdayCol,
#thursdayCol,
#saturdayCol {
  background-color: #dce2bd;
}

@media (max-width: 950px) {
  .weekdays {
    flex-direction: column;
  }
  .main-content {
    display: grid;
    grid-template-columns: 1fr 5fr;
  }
  .col {
    height: 1070px;
  }
}

.thick-line {
  border: none;
  height: 4px;
  background-color: #04aa6d;
  width: 100%;
}

.overlay-text {
  font-weight: bold;
  font-size: 16px;
  margin: 0;
}

@media (max-width: 530px) {
  .main-content {
    display: grid;
    grid-template-columns: 1fr 10fr;
  }
  .workout-content {
    width: 1020px;
  }
}

.workoutInput {
  display: block;
  margin: 10px auto; /* Center the text box */
  padding: 10px;
  border: 2px solid #04aa6d; /* Green border */
  border-radius: 5px; /* Rounded corners */
  width: 80%; /* Adjust width as needed */
  font-size: 16px;
}

.addWorkoutConfirm {
  display: block;
  margin: 10px auto; /* Center the button */
  padding: 10px 20px;
  background-color: #04aa6d; /* Green */
  color: white;
  border: none;
  border-radius: 5px; /* Rounded corners */
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Smooth transition */
}

.addWorkoutConfirm:hover {
  background-color: #087f4b; /* Darker shade of green on hover */
}

.workoutList {
  list-style-type: none; /* Remove bullet points */
  padding: 0;
  background-color: #f2f2f2; /* Light gray background */
  border: 1px solid #ccc; /* Gray border */
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px; /* Rounded corners */
}
